.navbar-expand-lg{
    background-color: white  !important;
}
a{
    color: black !important;
}
.navbar-nav{
    margin-left: 52px;
    font-size: 12px;
    font-weight: 800;
}
/* .search{
    margin-top: 62px;
    margin-left: 61%;
    background-color: lightgray;
} */
.nav-link:hover{
    color: lime !important;
    border-top:3px solid lime;
}
#navbarNav{
    margin-top: -14px;
    margin-left: 80px;
}
img{
    margin-top: 25px;
}
.d-block{
    height: 544px;
}
hr{
    color: white;
}
.card-title{
    font-size: 36px;
    /* margin-top: 25px !important; */
    margin-left: -62%;
    margin-bottom: 23%;
    font-weight: 900;
}
.headline{
    font-size: 31px;
    margin-left: 151px !important;
    padding-top: 137px;
    font-weight: 900;
}
.text{
    font-weight: 900;
    margin-left: 152px;
}
@media only screen and (max-width: 600px) {
    .headline{
        font-size: 31px;
        margin-left: 54px !important;
        padding-top: 137px;
        font-weight: 900;
    }
    .text{
        font-weight: 900;
        margin-left: 67px;
    }
    .search{
        margin-top: 62px;
        margin-left: 57%;
        background-color: lightgray;
    }
    .special{
        margin-left: 0px !important;
        
    }
    .text_2{
        font-weight: 900 !important;
        margin-left: 0% !important;
  }
  .we{
    color: white;
    margin-top: 0px !important;
    margin-left: 0px !important;
    text-align: center;
  }
  .our{
      margin-left: 109px !important;
      color: white;
    margin-top: 34px;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  
  .form-inline{
    margin-top: -54px !important;
    margin-left: 252px !important;
}
  .company{
    margin-left: 37% !important;
  }


  .project{
    background-color: lime;
    color: white;
    margin-left: 149px !important;
    margin-bottom: 25px;
}
}

#show_bg_2 {
 
    background-image:
    linear-gradient(to left, rgba(17, 13, 228, 0.438), rgba(18, 214, 84, 0.73)),
    url('./industry1.jpg');
     
    width: 100%;
    height:550px;
    background-size: cover;
    }

 .service{
        background-color:#3d3a3a;
    }
.vl {
        border-left: 2px solid white;
        height: 100px;
        margin-top: 33px;
        margin-bottom: 25px;
      }
.icon{
    font-size:  28px;;
    color: lime;
    text-align: center;
}
.air{
    color: white;
    font-size: 18px;
}
.special{
    margin-left: 348px;
    color: white;
    margin-top: 25px;
    font-weight: 500;
}
.zane{
    text-align: justify;
    font-weight: 500;
    margin-top: 73px;
}
.key{
    font-size: 29px;
    margin-top: 91px;
    font-weight: 600;
    margin-bottom: 25px;
}
.commercial{
    margin-top: -27px;
    margin-left: 19px;
}

#show_bg_3 {
 
    background-image:
    linear-gradient(to left, rgba(18, 214, 84, 0.73), rgba(17,13,228,0.438)),
    url('./industry2.jpg');
     
    width: 100%;
    height:550px;
    background-size: cover;
}
 .headline_2{
        font-size: 31px;
        margin-left: 768px !important;
        padding-top: 162px;
        font-weight: 900;
 }
.text_2{
        font-weight: 900;
        margin-left: 59%;
  }

.our{
    color: white;
    margin-left: 41%;
    margin-top: 34px;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;

}

.we{
    color: white;
    margin-top: 84px;
    margin-left: -300px;
    text-align: center;
}
.featured{
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}
.project{
    background-color: rgba(18, 214, 84, 0.73); 
    color:white;margin-left: 121px;
    margin-left: 43%; margin-top: 27px;
}
/* .company{
    margin-left: 121px;
} */


h4,h5{
    color: lime;
}
.facebook{
    background-color: #3A5997;
    color: white;
    width: 27px;
    height: 25px;
    text-align: center;
    padding: 2px;

}


.linkdin{
    margin-top: -25px;
    margin-left: 33px;
    background-color: #1777B6;
    color: white;
    width: 27px;
    height: 25px;
    text-align: center;
    padding: 2px;

}


.form-inline{
    margin-top: 44px;
    margin-left: 330px;
}



.company{
    margin-bottom: 122px;
    margin-top: 48px;
}

.project{
    background-color: lime;
    color: white;
    margin-left:500px;
    margin-bottom: 25px;
    margin-top: 20px;
}